<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
      <label for="username">ID:</label>
      <input type="text" id="username" name="id" required>
      <br>
      <button type="submit">Login</button>
    </form>
    <% if (typeof message != "undefined" && message) { %>
      <div class="text-danger text-left  mb-3"><%= message %></div>
   <% } %>
</body>
</html>