<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="css/style.css"> 
    <script src="js/socket.io.min.js"></script>
</head>
  <body>
    <div id="title"><br><br><h1>Quẹt thẻ để đăng nhập</h1></div>
      
      <script>
        const socket = io();

        socket.on('ID', async (msg) => {
          try {
            /* Gửi yêu cầu tìm ID người dùng */
            const response = await fetch('/RFIDLogin', {
              method: 'POST',
              headers: { 'Content-Type': 'application/json' },
              body: JSON.stringify({ id: msg }),
              });

            if (response.ok) 
            {
              /* ID hợp lệ => chuyển hướng trang */
              window.location.href = '/home';
            } 
            else
            {
              /* Không tìm thấy người dùng */
              const responseData = await response.json();
              console.error('Error:', responseData.message);
              alert(`Error: ${responseData.message}`);
            }
          } 
          catch (error) 
          {
            /* Lỗi hệ thống */
            console.error('Fetch error:', error);
            alert('An error occurred. Please try again.');
          }
      });
    </script>
  </body>
</html>