/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 3px;
}

nav ul li a:hover,
nav ul li button:hover {
    background-color: #555;
}

nav ul li button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
}

.content {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    font-size: 1.1em;
    color: #333;
}

#funcMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

#funcMenu #funcItem {
    margin: 0;
}

#funcMenu #funcItem a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    background-color: #c8c8c8;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#funcMenu #funcItem a:hover {
    background-color: #333;
    color: #fff;
}

#customForm {
    margin: 20px 0;
    width: 30%;
    }

    #customForm input[type="text"],
    #customForm button {
        padding: 10px;
        margin: 5px 0;
        width: 100%;
        box-sizing: border-box;
    }

    #submitButton {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #submitButton:hover {
        background-color: #555;
    }
