#title{
    color: blue;
    text-align: center;
}
/* Ảnh nền */
body{
    background-image: url("/image/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: roboto, sans-serif;
    text-align: center;
}

header {
    background-color: rgba(51, 51, 51, 0.8); 
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 1.8em;
    margin: 0;
}

.bt {
    margin-right: 10px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: red;
    border-color: red;
    border-radius:5px;  
}

button:hover{
    background-color: rgb(0, 195, 0);
    border-color: rgb(0, 195, 0);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); 
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}



