#title{
    color: blue;
    text-align: center;
}
/* Ảnh nền */
body{
    background-image: url("/image/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: roboto, sans-serif;
    text-align: center;
}

.container {
    display: flex; /* Sử dụng flexbox */
}

.user-info, .service {
    width: 50%; /* Chia đều không gian giữa hai div */
    padding: 10px; /* Thêm padding nếu cần thiết */
}

/* Xếp các button trong 1 hàng */
.button-container {
    display: flex;
    justify-content: center;
}

.bt {
    margin-right: 10px;
    width: 150px;
    height: 70px;
    font-size: 20px;
    color: white;
    background-color: rgb(21, 21, 254);
    border-color: rgb(21, 21, 254);
    border-radius:5px;  
}
.bt2 {
    margin-right: 10px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: red;
    border-color: red;
    border-radius:5px;  
}
.bt3 {
    margin-right: 10px;
    width: 110px;
    height: 50px;
    font-size: 16px;
    color: white;
    background-color: red;
    border-color: red;
    border-radius:5px;  
}
button:hover{
    background-color: rgb(0, 195, 0);
    border-color: rgb(0, 195, 0);
}

#user{
    margin: 20px auto;
    width: 500px;
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius:10px; 
}

.service{
    margin: 20px auto;
    width: 500px;
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius:10px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #4caf50;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #4caf50;
    color: white;
}
