body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  h1 {
    text-align: center;
    color: #444;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Căn chỉnh các nút theo trục dọc */
    margin-top: 20px;
  }
  button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #0056b3;
  }
  #dataDisplay {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  .dataEntry {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dataEntry:last-child {
    border-bottom: none;
  }
  #dataStatus {
    text-align: center;
    font-size: 18px;
    color: #007bff;
    margin-top: 10px;
  }