<h2> QUẢN LÝ SÁCH </h2><br>

<div id="booksContainer"></div>
  
<script src="js/borrowBook.js"></script>

<ul id="funcMenu">
    <li id="funcItem"><a href="#" onclick="loadContent('Admin/booksPage_list')">Danh sách sách</a></li>
    <li id="funcItem"><a href="#" onclick="loadContent('Admin/booksPage_addNew')">Thêm mới</a></li>
    <li id="funcItem"><a href="#" onclick="loadContent('Admin/booksPage_edit')">Cập nhật</a></li>
    <li id="funcItem"><a href="#" onclick="loadContent('Admin/booksPage_remove')">Xoá sách</a></li>
</ul><br><br>


<div id="content-container">
    <!-- CONTENT WILL BE LOADED HERE -->
</div>







